.abtus {
    width: 100%;

    &__title {
        width: 80%;
        margin: 0 auto 40px;
    }

    &__img-cover {
        width: 100%;
        min-height: 250px;
        z-index: 1;
        overflow: hidden;
    }

    &__img-cover::before {
        position: absolute;
        z-index: 10;
        content: "";
        height: 105%;
        top: -10;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(ellipse at center top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0)90%);

    }

    &__img {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        position: absolute;
        min-height: 150px;
        max-height: 90vh;
    }

    &__card-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
    }

}


.card.abtus__card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.underline {
    border-bottom: solid 2px #06D6A0;
    width: 5em
}