.navbar {
    height: 10vh;
}

.navbar img,
.navbar__btn,
.navbar-toggler {
    z-index: 3;
}

.navbar__btn {
    min-width: 75px;
    background-Color: #fff;
    border: 'none';

}

.navbar__custom {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background: #fff;
    left: 50%;
    top: 0;
    z-index: 1;
    transform: translate(-50%, -100%);
    transition: transform 0.5s ease-out;
}

.navbar__custom--active {
    transform: translate(-50%, 0%);
    margin-top: 10vh;
}

.nav-item a {
    display: inline;
}