.footer {
    background: #333;
    height: 100%;
    font-size: 1.5rem;

    &__row {
        min-height: 200px;
        width: 80vw;
        margin: auto;
    }

    &__title,
    &__icon-text {
        letter-spacing: .2rem;
        color: white;
    }


    &__icon-text {
        color: white;
        font-size: 1rem;
    }

}