html {
  font: 16px;
}

.parent {
  width: 100%;
  overflow: hidden;
}

.height-0 {
  line-height: 1em;
}

.title-box {
  border-radius: 0 1.5em 1.5em 0;
  padding: 15px 40px;
  margin-bottom: 50px;
}

.font-p5-em {
  font-size: 0.5em;
}

.font-p75-em {
  font-size: 0.75em;
}

.font-1-em {
  font-size: 1em;
}

.font-1p5-em {
  font-size: 1.5em;
}

.font-1p2-em {
  font-size: 1.2em;
}

.font-2-em {
  font-size: 2em;
}

.font-3-em {
  font-size: 3em;
}

.font-bold {
  font-weight: bold;
}

.categories-btn {
  width: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.product-card {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card-wrapper {
  max-width: 18em;
  min-width: 10em;
  width: 100%;
  padding-bottom: 3em;
}

.product-image-wrapper {
  width: 100%;
  height: 14em;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.outer-bar {
  width: 80%;
  border-radius: 0.75em;
  overflow: hidden;
  height: 0.75em;
}

.inner-bar {
  height: 100%;
  top: 0px;
  left: 0px;
}

.description {
  overflow: hidden;
  width: 100%;
  line-height: 1.3em;
  height: 3.5em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.dot-button {
  border-radius: 300px;
  border: none;
  width: 10px;
  height: 10px;
  padding: 10px;
  outline: none;
}

.dot-inactive {
  background-color: #bdbebd;
}

.dot-active {
  background-color: dimgray;
}

.product-wraper {
  width: 80%;
}

.arrow-btn-left {
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  border-radius: 300px;
  border: none;
  max-height: 100vh;
  width: 100%;
  width: 3em;
  height: 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-btn-right {
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  border-radius: 300px;
  border: none;
  width: 3em;
  height: 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-wrapper {
  width: 80%;
}

.order-now-btn {
  margin-top: 1.5em;
}

.image-cover {
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.left-background {
  top: 0px;
  left: 0px;
}

.right-background {
  top: 0px;
  right: 0px;
}

.background-right-cover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-left-cover {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-working-together {
  height: 100vh;
}

.background-wrapper {
  width: 100%;
  overflow: hidden;
}

.error-form {
  font-size: 0.8em;
  color: #EF476F;
  margin-top: 1em;
  margin-bottom: 1em;
}

.partner-form {
  width: 60%;
}

.partner-title {
  border-bottom: solid 2px #06D6A0;
}

.container-partner {
  height: 100vh;
}

/*about us section*/
.abtus {
  width: 100%;
}

.abtus__title {
  width: 80%;
  margin: 0 auto 40px;
}

.abtus__img-cover {
  width: 100%;
}

.abtus__img-cover::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(ellipse at center top, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0)90%);

}

.abtus__img {
  width: 100%;
  min-height: 150px;
  max-height: 90vh;
}

.card.abtus__card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}


.card.abtus__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.abtus__card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;

}

.underline {
  border-bottom: solid 2px #06D6A0;
  width: 5em
}

/*FOOTER*/

.footer {
  background: #333;
  height: 100%;

}

.footer__row {
  min-height: 200px;
  width: 80vw;
  margin: auto;
}

.footer__title,
.footer__icon-text {
  letter-spacing: .2rem;
  color: white;
}

.footer__title {
  font-size: 1.5rem;
}

.footer__icon-text {
  color: white;
  font-size: 1rem;
}